flickr_api_key: YOU-FLICKR-API-KEY
flickr_secret: YOU-FLICKR-SECRET
flickr_user_id: THE-USER-ID

flickr_image_size: q
# see https://www.flickr.com/services/api/misc.urls.html

flickr_image_count: 10

template: assets/flickr_template.twig

error_message: '<div>Error loading images</div>'