{% if images %}

    <ul>

    	{% for image in images %}

            <li>
                <a href="{{ image['link'] }}" target="_blank" rel="nofollow">
                    <img src="{{ image['url'] }}" alt="{{image['title']|escape('html_attr')}}"/>
                    <div>{{image['title']}}</div>
                </a>
            </li>

    	{% endfor %}
    
    </ul>

{% endif %}