{% if photos %}

    <ul>

    	{% for image in photos %}

            <li>
                <a href="{{ image['url'] }}" target="_blank" rel="nofollow">
                    <img src="{{ image['thumb'] }}" alt="{{image['title']|escape('html_attr')}}"/>
                    <div>{{image['title']}}</div>
                </a>
            </li>

    	{% endfor %}
    
    </ul>

{% endif %}